<?xml version="1.0" encoding="UTF-8"?>
<!-- 
/**
 * Ship 2 Anywhere extension
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 *
 * @category   Ship2Anywhere
 * @package    Ship2Anywhere_OrderSync
 * @copyright  Copyright (C) 2014 Ship 2 Anywhere (https://www.ship2anywhere.com.au/)
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */

/**
 * Main Module Config
 *
 * @category   Ship2Anywhere
 * @package    Ship2Anywhere_OrderSync
 * @subpackage etc
 * @author     Michael Teasdale <michael@ship2anywhere.com.au>
 */
 -->
 
<config>
    <modules>
        <Ship2Anywhere_OrderSync>
            <version>0.1.0</version>
        </Ship2Anywhere_OrderSync>
    </modules>
    <global>
        <blocks>
            <s2a_osync>
                <class>Ship2Anywhere_OrderSync_Block</class>
            </s2a_osync>
            <adminhtml>
                <rewrite>
                    <sales_order_view_tab_info>Ship2Anywhere_OrderSync_Block_Adminhtml_Sales_Order_View_Tab_Info</sales_order_view_tab_info>
                </rewrite>
            </adminhtml>
        </blocks>
        <models>
            <s2a_osync>
                <class>Ship2Anywhere_OrderSync_Model</class>
            </s2a_osync>
        </models>
        <helpers>
            <s2a_osync>
                <class>Ship2Anywhere_OrderSync_Helper</class>
            </s2a_osync>
        </helpers>
    </global>
    <frontend>
        <routers>
            <osync>
                <use>standard</use>
                <args>
                    <module>Ship2Anywhere_OrderSync</module>
                    <frontName>osync</frontName>
                </args>
            </osync>
        </routers>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <osync>
                    <file>osync.xml</file>
                </osync>
            </updates>
        </layout>
    </adminhtml>
</config>
